AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=admin

WAREHOUSE_HOST=postgres
WAREHOUSE_PORT=5432
WAREHOUSE_DB=weather
WAREHOUSE_USER=weather
WAREHOUSE_PASSWORD=weather
